<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maliba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.maliba.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.maliba.Feedback" />
          <service android:name="com.example.maliba.backgroundservice" android:enabled="true"/>
         
        <activity android:name="com.example.maliba.Register" />
        <activity android:name="com.example.maliba.Gallery" />
        <activity android:name="com.example.maliba.Home" />
        <activity android:name="com.example.maliba.Privateimage" />
        <activity android:name="com.example.maliba.Publicimage" />
        <activity android:name="com.example.maliba.GalleryView" />
        <activity android:name="com.example.maliba.Uploadimage" />
         <activity android:name="com.example.maliba.Textspeech" />
         <activity android:name="com.example.maliba.Histroricalplace" />
           <activity android:name="com.example.maliba.historicalplaceclick" />
        
        
         <activity android:name="com.example.maliba.GPSTracker" />
    </application>

</manifest>
